{% extends "base.html" %}
{% block nav %}{% endblock %}
{% block head %}
{{super()}}
<head>
  <style>
  </style>
</head>

{% endblock %}
{% block content %}
<div class="container" style="padding-top: 10px;">
<h2 style="text-align: center;">EMS Medical Standby </h2>
<br>
<!-- <div id="calendar" style="padding: 10px;"></div>--->

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Tarikh dan masa</th>
        <th>Program</th>
        <th>Perubahan</th>
        <th>Pengubah</th>
      </tr>
    </thead>
    <tbody>
      {% for u in event_logs %}
      <tr>
        <td>{{ u.tarikhmasa_log.strftime('%d/%m/%Y %H:%M:%S') }}</td>
        <td>{{u.program_log}}</td>
        <td>{{ u.event_change }}</td>
        <td>{{ u.changer }}</td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
</div>


{% endblock %}
{% block scripts%}
{{ super() }}
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js'></script>
<script src='../static/js/bootstrap-datepicker.min.js'></script>
<script>
  var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
  var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
    return new bootstrap.Popover(popoverTriggerEl)
  })
  var popover = new bootstrap.Popover(document.querySelector('.popover-dismiss'), {
    trigger: 'focus'
  })
</script>


{% endblock %}